@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

img {
    height: 60px;
    width: 320px;
}

/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
  }
  .content {
    max-width: 1250px;
    padding: 0 30px;
  }
  .icon {
    color: var(--primaryColor);
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  .icon.cancel-btn {
    position: absolute;
    left: 5px;
    top: 0;
  }
  .navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .menu-list {
    display: inline-flex;
  }
  .menu-list li {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .menu-list li a {
    margin-left: 25px;
    font-size: 40px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .menu-list li a:hover {
    color: #f8930f;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

  
  /* user profile */
  .nav-icon-user img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }
  /* button home*/
  .wrapper {
    margin-left: 5px;
  }
  .wrapper .button-home {
    display: inline-block;
    height: 60px;
    width: 60px;
    background: rgb(0, 255, 255);
    overflow: hidden;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(83, 252, 153);
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}
  .button-home:hover {
    width: 180px;
  }

   .button-home .icon-home {
    background: rgb(5, 4, 4);
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    line-height: 60px;
  }
  .button-home .icon-home  {
    font-size: 35px;
  }
  .button-home .icon-home  a{
    line-height: 60px;
  }
  .button-home .icon-home  a i {
    color: rgb(1, 255, 200);
  }
  .button-home span {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 10px;
    letter-spacing: 1px;
    text-decoration: underline;
  }
  .button-home span a {
    color: black;
  }

  /* user profile*/
  /* .user-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}
h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.main-container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.signIn-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.main-container.right-panel-active .signIn-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.main-container.right-panel-active .signUp-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.main-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #f04f74;
	background: -webkit-linear-gradient(to right, #df543b, #d4355a);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.main-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.main-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.main-container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.social-container a:nth-child(1) {
    color: blue;
    font-size: 30px;
}
.social-container a:nth-child(2) {
    color: red;
    font-size: 30px;
}
.social-container a:nth-child(3) {
    color: navy;
    font-size: 30px;
} */



  



  
















  


  

  


  



  


  /*services section*/
  .service-body {
    background: rgb(49, 49, 90);
    background: linear-gradient(to right, rgb(15, 15, 41), rgb(25, 19, 27));
  }
  ::selection
{
    color: #2370e2;
    background: #fff;
}

.services
{
    display: block;
    padding: 30px 0;
}
.service-container
{
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.sec-title
{
    margin-bottom: 60px;
    text-align: center;
}
.sec-title span
{
    color: #28fa67;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    font-weight: bold;
    display: block;
    line-height: 1em;
}
.sec-title h3
{
    line-height: 1.1;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}
.service-content
{
    margin-left: -15px;
    margin-right: -15px;
}
.service
{
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.service-box
{
    background: #191d30;
    display: block;
    position: relative;
    padding: 55px 0;
    margin-bottom: 30px;
    box-shadow: none;
    text-align: center;
    transition: all .4s ease;
}

.service-box:hover
{
    box-shadow: 0px 10px 25px rgba(3, 205, 255, 0.74);
    border-radius: 30%;
}
.service-box::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2f77fd;
    transform: scaleY(0);
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    transform-origin: 50% 0;

}
.service-box:hover::before
{
    transform: scaleY(0.6);
    transition-timing-function: 
    cubic-bezier(0.52,1.64,.37,.66);
}
.icon-box
{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: center;
}
.service-box:hover .icon-box::before
{
    background: rgba(255,255,255,0.1);
}
.service-box h3
{
    margin: 0;
    transition:all .4s ease;
    color: #42f34b;
    font-size: 20px;
    font-weight: 500;
    margin-top: 28px;
    line-height: 1.1;
    text-align: center;
    position: relative;
}
.service-box i
{
    color: #00ffff;
    transition:all .4s ease;
    font-size: 62px;
    position: relative;
}

.service-box:hover i,
.service-box:hover h3
{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

  /*about us team section*/
.container{
	max-width:1140px;
	margin:auto;
	position: relative;
	min-height: 1px;
}
.team{
	min-height: 100vh;
	padding:60px 15px;
	background-color:#22252a; 
	float: left;
	width: 100%;
}
.team h1{
	font-size: 36px;
	font-family: open sans;
	font-weight: 700;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}
.team .card{
	width:25%;
	float: left;
	padding:0px 15px;
}
.team .card .box {
	padding:15px;
	background-color: #2d3035;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
}
.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}
.team .card .box img{
  width:150px;
  height: 150px;
	display: block;
	margin:10px auto;
	border-radius:50%;
}
.team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 700;
}
.team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}
/*responsive*/
@media(max-width: 991px){
	.team .card{
		width:50%;
		margin-bottom:30px;
	}
}
@media(max-width:550px){
	.team .card{
		width:100%;
	}
}

/* contact us form*/
.contact-body {
  padding-top: 10px;
  background: url(./images/contactForm.jpg);
  background-size: cover;
}
.contact {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.contact-content {
   max-width: 800px;
   text-align: center;
   margin-left: 170px;
}
.contact-content h2 {
   font-size: 35px;
   font-weight: 500;
   color: #fff;
   margin: 0;
}
.contact-content p {
   font-weight: 400;
   color: #fff;
}
.contact-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.contact-info {
   width: 50%;
   display: flex;
   flex-direction: column;
}
.contact-info .box-contact {
   position: relative;
   padding: 20px 0;
   display: flex;
}
.contact-info .box-contact .contact-icon {
   min-width: 60px;
   height: 60px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   font-size: 22px;
}
.box-contact .contact-icon  {
  margin-bottom: 15px;
}
.contact-icon i {
   color: cyan;
   font-size: 35px;
}
.contact-text, h3, p {
  margin-bottom: 15px;
}
.contact-info .box-contact .contact-text {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   font-size: 16px;
   color: #fff;
}
.contact-info .box-contact .contact-text h3 {
   font-weight: 500;
   color: blue;
}
.contactForm {
   width: 40%;
   padding: 40px;
   background: transparent;
   opacity: 0.8;
}
.contactForm h2 {
   font-size: 30px;
   color: rgb(255, 255, 255);
   font-weight: 500;
}
.contact-text h3 {
   color: cyan;
   font-size: 20px;
}
.contact-text p {
   color: #fff;
   font-size: 18px;
}
.contactForm h2 {
   text-align: center;
   color: #fff;
}
.contactForm .inputBox {
   position: relative;
   width: 100%;
   margin-top: 10px;
}
.contactForm .inputBox input {
   width: 100%;
   background: #070605;
   color: white;
   padding: 5px 0;
   font-size: 20px;
   margin: 10px 0;
   border: none;
   border-bottom: 3px solid rgb(31, 215, 240);
   outline: none;
   resize: none;
   opacity: 0.9;
}
.contactForm .inputBox span {
   position: absolute;
   left: 0;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   pointer-events: none;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   color: aqua;
}
.inputBox textarea {
   font-size: 16px;
   color: white;
   opacity: 0.9;
   background: #070605;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
   color: cyan;
   font-size: 20px;
   transform: translateY(-30px);
}
.contactForm .inputBox input[type="submit"] {
   width: 100px;
   background: cyan;
   color: black;
   font-weight: bold;
   border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;
}
.inputBox input:last-child {
   opacity: 0.7;
}
.inputBox input:last-child:hover {
   transform: scale(1.1);
   border-radius: 20%;
   opacity: 1;
}


/* @media (max-width: 991px) {
   .contact {
       padding: 50px;
   }
   .contact-container {
       flex-direction: column;
   }
   .contact-info {
       margin-bottom: 40px;
       width: 100%;
   }
} */        

/*features menu section*/
.features {
  background: rgb(30, 31, 32);
  padding-top: 10px;
}
h4 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  line-height: 120% !important;
  color: rgb(43, 226, 211);
  margin: 0;
  text-transform: uppercase;
}
#features li p {
  margin-bottom: 0;
  padding-bottom: 0;
  color: wheat;
}
#features li {
  display: table;
  width: 100%;
  margin: 35px 0;
  cursor: pointer;
}
.features-left,
.features-right {
  padding: 0 10px;
}

.features-right li:last-child,
.features-left li:last-child {
  margin-bottom: 10px;
  padding-bottom: 0 !important;
}
.features-right li i,
.features-left li i {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto 22px;
  line-height: 60px;
  display: table;
  border-radius: 5px;
  text-align: center;
  z-index: 55;
  font-size: 25px;
  color: white;
  background-color: rgb(54, 209, 106);
  transform: 0.4s;
  padding: 0;
}

.features-left li i:before,
.features-right li i:before {
  text-align: center;
}
.features-left i {
  float: right;
}
.features-right i {
  float: left;
}
.fl-inner {
  text-align: left;
  margin-right: 30px;
}
.fr-inner {
  text-align: right;
  margin-right: 30px;
}
.effect-1 {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  transition: background 0.2s, color 0.2s;
}
.effect-1:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 2px rgb(255, 38, 0);
  transition: scale(1.2);
  opacity: 0;
  border-radius: 7px;
}
.effect-1:hover:after {
  transform: scale(1);
  opacity: 1;
}
.highlight h4:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  margin: 0;
  height: 2px;
  background: rgb(245, 23, 23);
  visibility: hidden;
  transition: all 0.4s ease;
}
.highlight.active h4:after {
  width: 100%;
  left: 0;
  visibility: visible;
}
.phone-holder {
  display: block;
  height: 500px;
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
  margin: auto;
  overflow: hidden;
}
/* #fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  balckground: url() center top no-repeat;
  z-index: 2;
  overflow: hidden;
} */

.hgi {
  position: absolute;
  top: 40px;
  left: 12px;
  width: 270px;
  height: 448px;
  visibility: hidden;
}
.hgi img {
  width: 290px;
  height: 460px;
}

.hgi.active {
  visibility: visible;
}

  /* --------------- End of Navbar ---------------- */

  /* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("./images/front-wallpaper.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    display: inline-block;
    padding: 2rem;
  }
  .banner-title {
    color: rgb(0, 0, 0);  
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    font-weight: bold;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: rgb(7, 53, 49);
    font-weight: bold;
    border: 2px solid black;
    transform: scale(1.1);
    border-radius: 30px;
    border: 4px solid rgb(7, 251, 170);
  }
  
  /* --------------- End of Hero ---------------- */

  /* --------------- Products ---------------- */
.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  /* ---------------End of Products ---------------- */

  /* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(164, 201, 226, 0.1);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  .close-cart {
    font-size: 2.4rem;
    cursor: pointer;
  }
  
  .cart-overlay .cart span i {
    color: peru;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: rgb(243, 8, 8);
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .cart-footer h3 .dollar {
      color: green;
  }
  .clear-cart:hover {
    background: transparent;
    color: orange;
    font-weight: bold;
    border: 2px solid black;
  }
  /* --------------- End of Cart ---------------- */

/* Desktops and laptops ----------- */
/* @media only screen 
and (min-width : 1224px) and (max-width: 1600px)  {
  .navbar .content {
    margin-right: 0;
  }
  .navbar-center {
    margin-left: 200px;
  }
  .navbar-center>img {
    margin-right: 500px;
  }
}
/* iPads (portrait and landscape) ----------- */
/* @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */


  @media only screen 
  and (min-device-width : 360px) 
  and (max-device-width : 868px) {
    .content {
      margin: 0;
      padding-left: 5px;
    }
    .icon {
      display: block;
    }
    .icon.hide {
      display: none;
    }
    .navbar .menu-list {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      max-width: 200px;
      display: block;
      padding-top: 20px;
      text-align: center;
      background: #070605;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
}
    .navbar .menu-list.active {
      left: 0%;
    }
    .navbar-center {
      padding: 0;
    }
    .navbar-center > img {
     margin-left: 50px;
     margin-right: 100px;
    }
    .navbar .menu-list li {
      margin-top: 40px;
    }
    .navbar .menu-list li a {
      font-size: 20px;
      color: #fff;
    }
  }  
  
  /* @media screen and ( min-width: 360px ) and ( max-width:995px ) {
    .icon {
      display: block;
    }
    .icon.hide {
      display: none;
    }
    .navbar .menu-list {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      max-width: 200px;
      display: block;
      padding-top: 20px;
      text-align: center;
      background: #070605;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
}
    .navbar .menu-list.active {
      left: 0%;
    }
    .navbar-center > img {
      margin-left: 250px;
    }
    .navbar .menu-list li {
      margin-top: 40px;
    }
    .navbar .menu-list li a {
      font-size: 20px;
      color: #fff;
    }
  } */