body {
    margin: 0 auto;
    background-color: rgba(253, 182, 102, 0.863);
}
h4 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    line-height: 120% !important;
    color: blueviolet;
    margin: 0;
    text-transform: uppercase;
}
#features li p {
    margin-bottom: 0;
    padding-bottom: 0;
}
#features li {
    display: table;
    width: 100%;
    margin: 35px 0;
    cursor: pointer;
}
.features-left,
.features-right {
    padding: 0 10px;
}

.features-right li:last-child,
.features-left li:last-child {
    margin-bottom: 10px;
    padding-bottom: 0 !important;
}
.features-right li i,
.features-left li i {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto 22px;
    line-height: 60px;
    display: table;
    border-radius: 5px;
    text-align: center;
    z-index: 55;
    font-size: 25px;
    color: white;
    background-color: rgb(54, 209, 106);
    transform: 0.4s;
    padding: 0;
}

.features-left li i:before,
.features-right li i:before {
    text-align: center;
}
.features-left i {
    float: right;
}
.features-right i {
    float: left;
}
.fl-inner {
    text-align: left;
    margin-right: 30px;
}
.fr-inner {
    text-align: right;
    margin-right: 30px;
}
.effect-1 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    transition: background 0.2s, color 0.2s;
}
.effect-1:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 2px rgb(255, 38, 0);
    transition: scale(1.2);
    opacity: 0;
    border-radius: 7px;
}
.effect-1:hover:after {
    transform: scale(1);
    opacity: 1;
}
.highlight h4:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    margin: 0;
    height: 2px;
    background: rgb(245, 23, 23);
    visibility: hidden;
    transition: all 0.4s ease;
}
.highlight.active h4:after {
    width: 100%;
    left: 0;
    visibility: visible;
}
.phone-holder {
    display: block;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    margin: auto;
    overflow: hidden;
}
/* #fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    balckground: url() center top no-repeat;
    z-index: 2;
    overflow: hidden;
} */

.hgi {
    position: absolute;
    top: 58px;
    left: 12px;
    width: 270px;
    height: 448px;
    visibility: hidden;
}
.hgi img {
    width: 290px;
    height: 460px;
}

.hgi.active {
    visibility: visible;
}